# Assignment 03

Name :: Gayatri Manikchand Deshmukh
Class :: TE B
Roll No :: 16

# Problem Statement :: Descriptive Statistics - Measures of Central Tendency and variability
Perform the following operations on any open source dataset (e.g., data.csv)
1. Provide summary statistics (mean, median, minimum, maximum, standard deviation) for a dataset (age, income etc.) with numeric variables grouped by one of the qualitative (categorical) variable. For example, if your categorical variable is age groups and quantitative variable is income, then provide summary statistics of income grouped by the age groups. Create a list that contains a numeric value for each response to the categorical variable.
2. Write a Python program to display some basic statistical details like percentile, mean, standard deviation etc. of the species of ‘Iris-setosa’, ‘Iris-versicolor’ and ‘Iris- versicolor’ of iris.csv dataset.
Provide the codes with outputs and explain everything that you do in this step.

#Import pandas

In [5]:
import pandas as pd

#read Iris csv file

In [6]:
df = pd.read_csv("Iris.csv")

In [7]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

#checking that categorical data in the dataset

In [8]:
df.select_dtypes(include='object')

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 1 columns]

#converting categorical data into numerical data

In [9]:
from sklearn import preprocessing

In [10]:
encoder = preprocessing.LabelEncoder()

In [11]:
df["Species"]=encoder.fit_transform(df["Species"])

In [12]:
# df['some_column'] = df['some_column'].astype('float')

In [13]:
# one_hot_encoder_h = preprocessing.OneHotEncoder()
# valueh = one_hot_encoder_h.fit_transform(df[['Species']])
# df_endoded = pd.DataFrame(valueh, columns = one_hot_encoder_h.get_feature_names_out())

In [14]:
df

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0      1            5.1           3.5            1.4           0.2        0
1      2            4.9           3.0            1.4           0.2        0
2      3            4.7           3.2            1.3           0.2        0
3      4            4.6           3.1            1.5           0.2        0
4      5            5.0           3.6            1.4           0.2        0
..   ...            ...           ...            ...           ...      ...
145  146            6.7           3.0            5.2           2.3        2
146  147            6.3           2.5            5.0           1.9        2
147  148            6.5           3.0            5.2           2.0        2
148  149            6.2           3.4            5.4           2.3        2
149  150            5.9           3.0            5.1           1.8        2

[150 rows x 6 columns]

#using groupby function to group data

In [15]:
data = df.groupby(["Species"])

#checking how many groups are formed

In [16]:
df.groupby(["Species"])["SepalWidthCm"].std()    #on the basis of data you have grouped get the std SepalWidthcm

Species
0    0.381024
1    0.313798
2    0.322497
Name: SepalWidthCm, dtype: float64

In [17]:
data['SepalWidthCm'].std()          #Alternatively

Species
0    0.381024
1    0.313798
2    0.322497
Name: SepalWidthCm, dtype: float64

In [18]:
data.ngroups

3

In [19]:
df.groupby(["Species"]).groups.keys()

dict_keys([0, 1, 2])

In [20]:
df.groupby(["Species"])["SepalWidthCm"].mean()

Species
0    3.418
1    2.770
2    2.974
Name: SepalWidthCm, dtype: float64

In [21]:
df.groupby(["Species"])["SepalWidthCm"].min()

Species
0    2.3
1    2.0
2    2.2
Name: SepalWidthCm, dtype: float64

In [22]:
df.groupby(["Species"])["SepalWidthCm"].max()

Species
0    4.4
1    3.4
2    3.8
Name: SepalWidthCm, dtype: float64

In [23]:
df.groupby(["Species"])["SepalWidthCm"].var()

Species
0    0.145180
1    0.098469
2    0.104004
Name: SepalWidthCm, dtype: float64

In [24]:
df.groupby(["Species"])["SepalLengthCm"].std()

Species
0    0.352490
1    0.516171
2    0.635880
Name: SepalLengthCm, dtype: float64

In [25]:
import statistics

In [26]:
df.groupby(["Species"])["SepalWidthCm"].apply(statistics.mode)

Species
0    3.4
1    3.0
2    3.0
Name: SepalWidthCm, dtype: float64

In [27]:
import numpy as np

In [28]:
data = df.groupby(["Species"])
data.agg([np.sum, np.mean, np.min, np.max])
data.agg([np.sum, np.mean, np.min])

C:\Users\hp\AppData\Local\Temp\ipykernel_12812\1481369162.py:2: FutureWarning: The provided callable <function sum at 0x0000017D882BCE00> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  data.agg([np.sum, np.mean, np.min, np.max])
C:\Users\hp\AppData\Local\Temp\ipykernel_12812\1481369162.py:2: FutureWarning: The provided callable <function mean at 0x0000017D882BDEE0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  data.agg([np.sum, np.mean, np.min, np.max])
C:\Users\hp\AppData\Local\Temp\ipykernel_12812\1481369162.py:2: FutureWarning: The provided callable <function min at 0x0000017D882BD620> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  data.agg([np.sum, np.mean, np.min, np.max])
C:\Users\hp\AppData\Local\Temp\ipykernel_12812\1481369162.py:2: FutureWarning: The provided callable <function max at 0x0000017D882BD4E0> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  data.agg([np.sum, np.mean, np.min, np.max])
C:\Users\hp\AppData\Local\Temp\ipykernel_12812\1481369162.py:3: FutureWarning: The provided callable <function sum at 0x0000017D882BCE00> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  data.agg([np.sum, np.mean, np.min])
C:\Users\hp\AppData\Local\Temp\ipykernel_12812\1481369162.py:3: FutureWarning: The provided callable <function mean at 0x0000017D882BDEE0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  data.agg([np.sum, np.mean, np.min])
C:\Users\hp\AppData\Local\Temp\ipykernel_12812\1481369162.py:3: FutureWarning: The provided callable <function min at 0x0000017D882BD620> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  data.agg([np.sum, np.mean, np.min])

           Id             SepalLengthCm             SepalWidthCm              \
          sum   mean  min           sum   mean  min          sum   mean  min
Species
0        1275   25.5    1         250.3  5.006  4.3        170.9  3.418  2.3
1        3775   75.5   51         296.8  5.936  4.9        138.5  2.770  2.0
2        6275  125.5  101         329.4  6.588  4.9        148.7  2.974  2.2

        PetalLengthCm             PetalWidthCm
                  sum   mean  min          sum   mean  min
Species
0                73.2  1.464  1.0         12.2  0.244  0.1
1               213.0  4.260  3.0         66.3  1.326  1.0
2               277.6  5.552  4.5        101.3  2.026  1.4

In [29]:
df.groupby(["Species"])["SepalWidthCm"].agg(pd.Series.mode)

Species
0    3.4
1    3.0
2    3.0
Name: SepalWidthCm, dtype: float64

In [30]:

from sklearn.preprocessing import MinMaxScaler, StandardScaler

# Min-Max Scaling
scaler = MinMaxScaler()
df_minmax = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)

# Z-Score Normalization
scaler = StandardScaler()
df_zscore = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)

print("Min-Max Scaled Data:")
print(df_minmax)

Min-Max Scaled Data:
           Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0    0.000000       0.222222      0.625000       0.067797      0.041667
1    0.006711       0.166667      0.416667       0.067797      0.041667
2    0.013423       0.111111      0.500000       0.050847      0.041667
3    0.020134       0.083333      0.458333       0.084746      0.041667
4    0.026846       0.194444      0.666667       0.067797      0.041667
..        ...            ...           ...            ...           ...
145  0.973154       0.666667      0.416667       0.711864      0.916667
146  0.979866       0.555556      0.208333       0.677966      0.750000
147  0.986577       0.611111      0.416667       0.711864      0.791667
148  0.993289       0.527778      0.583333       0.745763      0.916667
149  1.000000       0.444444      0.416667       0.694915      0.708333

     Species
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
..       ...
145      1.0
146      1.0
147      1.0
148      1.0
149      1.0

[150 rows x 6 columns]

In [31]:
print("\nZ-Score Normalized Data:")
print(df_zscore)

Z-Score Normalized Data:
           Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0   -1.720542      -0.900681      1.032057      -1.341272     -1.312977
1   -1.697448      -1.143017     -0.124958      -1.341272     -1.312977
2   -1.674353      -1.385353      0.337848      -1.398138     -1.312977
3   -1.651258      -1.506521      0.106445      -1.284407     -1.312977
4   -1.628164      -1.021849      1.263460      -1.341272     -1.312977
..        ...            ...           ...            ...           ...
145  1.628164       1.038005     -0.124958       0.819624      1.447956
146  1.651258       0.553333     -1.281972       0.705893      0.922064
147  1.674353       0.795669     -0.124958       0.819624      1.053537
148  1.697448       0.432165      0.800654       0.933356      1.447956
149  1.720542       0.068662     -0.124958       0.762759      0.790591

      Species
0   -1.224745
1   -1.224745
2   -1.224745
3   -1.224745
4   -1.224745
..        ...
145  1.224745
146  1.224745
147  1.224745
148  1.224745
149  1.224745

[150 rows x 6 columns]

In [32]:
def decimal_scaling(series):
    max_abs_value = series.abs().max()
    num_digits = len(str(int(max_abs_value)))
    return series / 10**num_digits

# Apply decimal scaling
df['SepalLengthCm'] = decimal_scaling(df['SepalLengthCm'])


print("\nData after Decimal Scaling Normalization:")
print(df)

Data after Decimal Scaling Normalization:
      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0      1           0.51           3.5            1.4           0.2        0
1      2           0.49           3.0            1.4           0.2        0
2      3           0.47           3.2            1.3           0.2        0
3      4           0.46           3.1            1.5           0.2        0
4      5           0.50           3.6            1.4           0.2        0
..   ...            ...           ...            ...           ...      ...
145  146           0.67           3.0            5.2           2.3        2
146  147           0.63           2.5            5.0           1.9        2
147  148           0.65           3.0            5.2           2.0        2
148  149           0.62           3.4            5.4           2.3        2
149  150           0.59           3.0            5.1           1.8        2

[150 rows x 6 columns]